<!DOCTYPE html>
<html lang="en">

<%- include('partials/header') %>


    <head>
        <link rel="stylesheet" href="/css/meet-the-team.css">
    </head>

    <body id="page-container">
        <div id="content-wrap">
            <%- include('partials/navbar') %>
                <% for(var i=0; i < jsonContent.length; i++) { %>
                    <div class="modal fade" id="modal<%=i%>" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="d-flex flex-lg-row flex-col justify-content-center align-items-center flex-wrap">
                                        <div class="order-lg-0 order-1 col-lg-8">
                                            <%= jsonContent[i].bio %>
                                        </div>
                                        <div class="order-lg-1 order-0 col-lg-4 col-10 mb-5 mb-lg-0 profile-circle">
                                            <% if (!fs.existsSync("./public/"+jsonContent[i].picture + ".webp")) { %>

<!--                                                <img src="<%= jsonContent[i].picture %>.png">-->
                                                <img src="/img/icons/mmyc_logo.png">
                                            <% } else { %>
                                                <img srcset="<%= jsonContent[i].picture %>-578.webp 578w,
                                                             <%= jsonContent[i].picture %>-908.webp 908w"
                                                     sizes="calc(100vw - 86px)"
                                                     src="<%= jsonContent[i].picture %>.webp"
                                                     alt="profile picture">
                                            <% } %>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  <% } %>

                        <div class="container d-flex flex-wrap body-full title-header">
                            <div class="main-title my-5">
                                <h1>Meet The <span>Team!</span></h1>
                            </div>
                            <div class="d-flex flex-row flex-wrap cochairs justify-content-center">
                                <div class="col-xl-3"></div>
                                <div class="col-xl-3 col-lg-4 col-md-6 grid-column">
                                    <button type="button" class="btn" data-toggle="modal" data-target="#modal0">
<!--                                        <img src="<%= jsonContent[0].picture %>.png">-->
<!--                                        <img src="/img/icons/mmyc_logo.png">-->
                                        <img srcset="<%= jsonContent[0].picture %>-578.webp 578w,
                                                         <%= jsonContent[0].picture %>-908.webp 908w"
                                             sizes="calc(100vw - 86px)"
                                             src="<%= jsonContent[0].picture %>.webp"
                                             alt="profile picture">

                                    </button>
                                    <h2>
                                        <%= jsonContent[0].firstName %> <br />
                                            <%= jsonContent[0].lastName %>
                                    </h2>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6 grid-column">
                                    <button type="button" class="btn" data-toggle="modal" data-target="#modal1">
<!--                                        <img src="<%= jsonContent[1].picture %>.png">-->
<!--                                        <img src="/img/icons/mmyc_logo.png">-->
                                        <img srcset="<%= jsonContent[1].picture %>-578.webp 578w,
                                                         <%= jsonContent[1].picture %>-908.webp 908w"
                                             sizes="calc(100vw - 86px)"
                                             src="<%= jsonContent[1].picture %>.webp"
                                             alt="profile picture">
                                    </button>
                                    <h2>
                                        <%= jsonContent[1].firstName %> <br />
                                            <%= jsonContent[1].lastName %>
                                    </h2>
                                </div>
                                <div class="col-xl-3"></div>
                            </div>
                            <div class="d-flex flex-row flex-wrap rows">
                              <% for(var i = 2; i < jsonContent.length; i++) { %>
                                <div class="col-xl-3 col-lg-4 col-md-6 grid-column">
                                        <button type="button" class="btn" data-toggle="modal"
                                            data-target="#modal<%=i%>">

                                            <% if (!fs.existsSync("./public/"+jsonContent[i].picture + "-578.webp")) { %>
<!--                                                <img src="<%= jsonContent[i].picture %>.png">-->
<!--                                                <img srcset="<%= jsonContent[i].picture %>-578.webp 578w,-->
<!--                                                             <%= jsonContent[i].picture %>-908.webp 908w"-->
<!--                                                     sizes="calc(100vw - 86px)"-->
<!--                                                     src="<%= jsonContent[i].picture %>.webp"-->
<!--                                                     alt="profile picture">-->
                                                <img src="/img/icons/mmyc_logo.png">
                                            <% } else { %>
                                                <img srcset="<%= jsonContent[i].picture %>-578.webp 578w,
                                                             <%= jsonContent[i].picture %>-908.webp 908w"
                                                     sizes="calc(100vw - 86px)"
                                                     src="<%= jsonContent[i].picture %>.webp"
                                                     alt="profile picture">
                                            <% } %>

                                        </button>
                                        <h2>
                                            <%= jsonContent[i].firstName %> <br />
                                                <%= jsonContent[i].lastName %>
                                        </h2>
                                </div>
                              <% } %>
                            </div>
                        </div>
        </div>
        <%- include('partials/footer') %>

    </body>

</html>
